/* CSS Document */

.sugpon
{
	width:970px;
	height:45px;
	margin:auto;
	
	
}
	/*  <div class="mosAdmin">
                   <?php $name =$_SESSION['user_name']; ?>
		H, <?php echo $name; ?><br>
		<a href=""supa website</a> | <a href="">supasite</a> 
	<div class="clear"></div>*/